<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myfrist.classschedule" >

    <!-- EXTERNAL_STORAGE permissions are optional for Android 6.0 onwards. -->

    <!-- <uses-permission -->
    <!-- android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="22" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.READ_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="22" /> -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"        />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hi you !!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6XUpvtwCXfOWW7krZSmKEzv_4oQVvGNA" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Alarm" />
        <activity
            android:name=".ShowEvent"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
        <activity android:name=".Setting" >
        </activity>
        <activity
            android:name=".Monday"
            android:label="@string/title_activity_monday"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AddMonday"
            android:label="@string/title_activity_add_monday"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Tuesday"
            android:label="@string/title_activity_tuesday"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AddTuesday"
            android:label="@string/title_activity_add_tuesday"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Wednesday"
            android:label="@string/title_activity_wednesday"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AddWednesday"
            android:label="@string/title_activity_add_wednesday"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Thursday"
            android:label="@string/title_activity_thursday"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Friday"
            android:label="@string/title_activity_friday"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Saturday"
            android:label="@string/title_activity_saturday"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Sunday"
            android:label="@string/title_activity_sunday"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AddThursday"
            android:label="@string/title_activity_add_thursday"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddFriday"
            android:label="@string/title_activity_add_friday"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddSaturday"
            android:label="@string/title_activity_add_saturday"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddSunday"
            android:label="@string/title_activity_add_sunday"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main4Activity"
            android:label="@string/title_activity_add_sunday"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GetLocation"
            android:label="@string/title_activity_get_location"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".VarnaLabGeoLocations"
            android:label="@string/title_activity_varna_lab_geo_location"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
